<div name="target-slot-screen-culture-tree-chooser"
     class="fxs-slot-target target-slot-screen-culture-tree-chooser"
     id="target-slot-screen-culture-tree-chooser"></div>
<div name="target-slot-panel-religion-picker" class="fxs-slot-target target-slot-panel-religion-picker"
     id="target-slot-panel-religion-picker"></div>
<div name="target-slot-screen-culture-tree-chooser"
     class="fxs-slot-target target-slot-screen-tech-tree-chooser" id="target-slot-screen-tech-tree-chooser">
</div>
<div name="target-slot-trade-route-chooser" class="fxs-slot-target target-slot-trade-route-chooser"
     id="target-slot-trade-route-chooser">
</div>